<section id="list">
    {{#each products}}
        <h2>Title: {{this.title}}</h2>
        <p><strong>Description</strong>: {{this.description}}</p>
        <p><strong>Code</strong>: {{this.code}}</p>
        <p><strong>Price</strong>: ${{this.price}}</p>
        <p><strong>Stock</strong>: {{this.stock}}</p>
        <p><strong>Category</strong>: {{this.category}}</p>
        <hr>
        
    {{/each}}
</section>