<div>
    <h1>Bienvenido {{user.first_name}} {{user.last_name}} </h1>
    <p>Rol: <strong>{{user.rol}}</strong></p>
    <section>
        <h2>Productos:</h2><hr>
        <section class="sm:w-11/12 mx-auto px-4 py-5 grid justify-items-center md:grid-cols-2" id="list">
            {{#each products.docs}}
            <div class="bg-white drop-shadow-xl my-3 w-[330px] h-[600px] flex flex-col rounded-[20px] ">
                <img src="{{this.thumbnails.[1]}}" class="h-3/5 rounded-b-[50px] rounded-t-[20px] border-2" alt="">
                <div class="h-2/5 p-5 flex flex-col gap-2 text-center justify-center">
                    <h2 class="font-bold">{{this.title}}</h2>
                    <p>{{this.description}}</p>
                    <div class="flex text-center gap-1 mb-2">
                        <p class="w-2/4 p-1 bg-rose-200 rounded-[50px] drop-shadow-md">Code: {{this.code}}</p>
                        <p class="w-2/4 p-1 bg-rose-200 rounded-[50px] drop-shadow-md">Price: ${{this.price}}</p>
                    </div>
                    <div class="flex text-center gap-1">
                        <p class="w-2/4 p-1 bg-rose-200 rounded-[50px] drop-shadow-md">Stock: {{this.stock}}</p>
                        <p class="w-2/4 p-1 bg-rose-200 rounded-[50px] drop-shadow-md">Category: {{this.category}}</p>
                    </div>
                    <button class="bg-white hover:bg-black hover:text-white drop-shadow-md border-2 border-black rounded-[50px] m-2 p-2 w-2/4 self-center">Añadir al carrito</button>
                </div>
            </div>
            {{/each}}
</section>
        {{#if products.hasPrevPage}}
            <a href={{products.prevLink}} class="bg-rose-200 rounded-[50px] drop-shadow-md">Anterior</a>
        {{/if}}
            <p>Pagina: {{products.page}}</p>
        {{#if products.hasNextPage}}
            <a href={{products.nextLink}}>Siguiente</a>
        {{/if}}
    </section>
    <br>
    <hr>
    <a href="http://localhost:8080/session/logout"><button>logout</button></a>
</div>