<div>
    <section>
    {{#each products.docs}}
        <h2>Title: {{this.title}}</h2>
        <p><strong>Description</strong>: {{this.description}}</p>
        <p><strong>Code</strong>: {{this.code}}</p>
        <p><strong>Price</strong>: ${{this.price}}</p>
        <p><strong>Stock</strong>: {{this.stock}}</p>
        <p><strong>Category</strong>: {{this.category}}</p>
        <button>Añadir al carrito</button>
        <hr>
    {{/each}}
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}>Anterior</a>
    {{/if}}
        <p>{{products.page}}</p>
    {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>Siguiente</a>
    {{/if}}
</section>
</div>