
<h1 class="text-center text-4xl font-bold p-5 ">REALTIME PRODUCTS</h1>
<section class="sm:w-11/12 mx-auto px-4 py-5 grid justify-items-center md:grid-cols-2 xl:grid-cols-3 " id="list">
    {{#each products}}
        <div class="bg-white drop-shadow-xl my-3 w-[330px] h-[500px] flex flex-col rounded-[20px] ">
            <img src="{{this.thumbnails.[1]}}" class="h-3/5 rounded-b-[50px] rounded-t-[20px] border-2" alt="">
            <div class="h-2/5 p-5 flex flex-col gap-2 text-center justify-center">
                <h2 class="font-bold">{{this.title}}</h2>
                <p>{{this.description}}</p>
                <div class="flex text-center gap-1 mb-2">
                    <p class="w-2/4 p-1 bg-rose-200 rounded-[50px] drop-shadow-md">Code: {{this.code}}</p>
                    <p class="w-2/4 p-1 bg-rose-200 rounded-[50px] drop-shadow-md">Price: ${{this.price}}</p>
                </div>
                <div class="flex text-center gap-1">
                    <p class="w-2/4 p-1 bg-rose-200 rounded-[50px] drop-shadow-md">Stock: {{this.stock}}</p>
                    <p class="w-2/4 p-1 bg-rose-200 rounded-[50px] drop-shadow-md">Category: {{this.category}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>
